.windowFrame {
    position: absolute;
    height: calc(100% - 50px);
    min-height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__inner.windowFrame__inner {
        display: flex;
        height: 100%;
    }

    &__content.windowFrame__content {
        flex: 1;
        padding: 0.25rem;
    }

    &__contentInner {
        position: relative;
        height: calc(100% - 4px);
    }
    // Window specific styles
    &.-welcome {
        max-height: 500px;
        width: 610px;
    }

    &.-about {
        width: auto;
        height: auto;
    }

    &.-weather {
        width: auto;
        height: auto;
    }

    &.-credits {
        width: auto;
        height: auto;
    }

    &.-run {
        width: 475px;
        height: auto;
        min-height: 200px;
    }

    &.-recycle_bin {
        width: 550px;
        height: 450px;
        max-height: 450px;
    }

    &.-documents {
        width: 770px;
        height: 620px;
        max-height: 620px;
    }

    &.-browser {
        width: 800px;
        height: 650px;
        max-height: 650px;
    }

    &.-media_player {
        width: 650px;
        height: 500px;
        max-height: 500px;
    }

    &.-user {
        max-height: 650px;
        width: 850px;
    }

    &.-repos {
        max-height: 650px;
        width: 710px;
    }

    &.-trending,
    &.-mostFollowedWindow,
    &.-explorerWindow {
        width: 650px;
        height: 500px;
        max-height: 500px;
    }

    &.-repositoryDetails {
        max-height: 600px;
        width: 800px;
    }
}

.windowHeader.-inactive {
    background: #999 !important;
}

.windowHeader__title {
    > img {
        width: 20px;
        height: 20px;
        margin-right: 0.5rem;
    }
}

.windowButton__icon.-close {
    font-weight: bold;
    transform: translateY(-2px);
    pointer-events: none;
}
