.taskbar.taskbar {
    position: absolute;
    bottom: 0;
    top: auto;
    z-index: 3;
}

.taskbar {
    &__toolbar.taskbar__toolbar {
        padding-right: 55px;
    }

    &__buttonWrapper {
        flex: 1;
    }

    &__applications {
        flex: 1;
        overflow: auto;
    }

    &__applicationsButtons {
        position: absolute;
        left: 0;
        right: 0;
    }
}

.taskbarButton.taskbarButton {
    max-width: 200px;
    > div {
        width: 150px;
    }
}

.taskbarButton {
    &__label {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: left;
    }
}

.taskbarClock {
    position: absolute;
    right: 4px;
    height: 32px;
    width: 75px;
    line-height: 32px !important;
    padding: 0 0.5rem 0 1rem;
    border: 2px inset #ededed;
    text-align: right;
}

.taskbarSound {
    padding: 4px 23px 1px 0px;
    img{
        height: 23px;
        width: 23px;
    }
}
