.aboutWindow {
    &__header {
        height: 30px;
        margin-top: -5px;
    }

    &__body {
        width: 470px;
        height: 550px;
        border: 2px inset #ededed;
        background-color: #fff;
    }

    &__bodyInner {
        padding: 1rem;

        > h1 {
            line-height: 2;
        }
    }

    &__list {
        list-style: square outside none;
        padding-left: 1rem;

        > li {
            list-style: inherit;
            line-height: 3;
        }
    }

    &__button {
        // mimic an anchor
        outline: none;
        border: none;
        background: none;
        padding: 0;
        text-decoration: underline;
        color: #1034a6;
    }
}

.profileImage {
    margin-left: 120px;
    margin-top: -60px;
    position: relative;
    width: 300px;
    height: 300px;
    border: 1px outset #ededed;

    > img {
        width: 300px;
        height: 300px;
        image-rendering: pixelated;
    }
}
