.weatherWindow {
    width: 450px;
    min-height: 250px;

    &__header {
        height: 30px;
        margin-top: -5px;
    }

    &__body {
        border: 2px inset #ededed;
        background-color: #fff;
    }

    &__bodyInner {
        padding: 1rem;

        > h1 {
            line-height: 2;
        }
    }

    &__weatherTable {
        width: 425px;
        height: 225px;
    }

    &__list {
        list-style: square outside none;
        padding-left: 1rem;

        > li {
            list-style: inherit;
            line-height: 3;
        }
    }

    &__button {
        // mimic an anchor
        outline: none;
        border: none;
        background: none;
        padding: 0;
        text-decoration: underline;
        color: #1034a6;
    }
}

//.notif {
//    margin-top: -16px;
//    margin-left: 150px;
//}
